<!-- <div class="header">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div><img src="assets/Logo.png" alt="Logo"></div>
      <div fxLayout="row" fxLayoutGap="40px">
        <div class="toolbar-font font-one cursor-pointer">Career</div>
        <div class="toolbar-font font-one cursor-pointer">About</div>
        <div class="toolbar-font font-one cursor-pointer">Contact</div>
      </div>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
    <div fxLayout="column" fxLayoutGap="30px">
      <div class="font-two name">JESWIN YESUDAS</div>
      <div class="font-three designation pb-5">Website and User Interface Designer</div>
      <div class="font-four description">Over the past 1 year I have worked in Workspacein.com as a UI Designer/Developer where I had successfully
        helped my company with my skills to reach our clients to start their superb journey</div>
    </div>
    <div class="position-relative">
      <div class="w-100 h-100 position-absolute white-overlay"></div>
      <img src="assets/full-pic.png"  alt="full_pic" class="full-pic">
    </div>
  </div>

</div> -->


<div id="header">
  <div class="container h-100" fxLayout="column">
    <!-- nav -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div><img src="assets/Logo.png" alt="Logo"></div>
      <div fxLayout="row" fxLayoutGap="40px" class="color-white">
        <a href="#career"><div class="toolbar-font font-one cursor-pointer">Career</div></a>
        <a href="#about"><div class="toolbar-font font-one cursor-pointer">About</div></a>
        <a href="#contact"><div class="toolbar-font font-one cursor-pointer">Contact</div></a>
      </div>
    </div>
    <!-- header body -->
    <div fxLayout="column" class="header-body h-100" fxLayoutAlign="center start">
      <div class="font-two">Jeswin Yesudas</div>
      <div class="font-three">Website and User Interface Designer</div>
      <div class="font-four">Over the past 1 year I have worked in Workspacein.com as a UI Designer/Developer where I had successfully helped my
      company with my skills to reach our clients to start their superb journey</div>
    </div>
  </div>
</div>

<div class="move-up" fxLayoutAlign="center center">
  <a href="#header"><mat-icon>arrow_upward</mat-icon></a>
</div>


<!-- about -->
<div id="about">
  <div class="container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="70px">
    <img src="assets/head_pic.png" alt="head"  data-aos="zoom-in-up">
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div class="font-one" data-aos="fade-up">About</div>
      <div class="font-two">I'm a Web designer/developer based in Kerala, India.</div>
      <div class="font-four">Since 2021, I've enjoyed turning complex problems into simple, beautiful and intuitive designs.
      Out of the works you’ll find me dreaming of soccer, playing games, and tripping with friends.</div>
    </div>
  </div>
</div>


<!-- career -->
<div id="career">
  <div class="container" fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="start start">
    <div class="font-one">Career</div>
    <div class="font-four">As a UI developer, I excel in transforming design concepts into user-friendly interfaces. With a keen eye for detail, I
    craft visually appealing and intuitive designs that merge aesthetics with functionality.</div>
    <mat-accordion displayMode="default" class="w-100">
      <!-- flexm -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
          <div>UI Designer/Developer @ Flexm Pvt Ltd </div>
          <div>April 2023 - Present</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutGap="30px">
          <div fxLayout="row" fxLayoutGap="50px">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-icon class="mat-18">location_on</mat-icon>
              <div>Singapore</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-icon class="mat-18">location_on</mat-icon>
              <div>www.flexm.com/</div>
            </div>
          </div>
          <div>Financial Services (Fintech Company)</div>
          <div>Worked as Angular Developer</div>
        </div>
        <img src="assets/flexm-logo.jpg" alt="">
      </div>
    </mat-expansion-panel>

    <!-- workspacein -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center">
          <div>UI Designer/Developer @ workspacein.com </div>
          <div>January 2021 - March 2023</div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="column" fxLayoutGap="30px">
          <div fxLayout="row" fxLayoutGap="50px">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-icon class="mat-18">location_on</mat-icon>
              <div>Melbourne, Australia</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <mat-icon class="mat-18">location_on</mat-icon>
              <div>www.workspacein.com</div>
            </div>
          </div>
          <div>Free Project & Task Management Platform</div>
          <div>Worked as UI Designer/Developer in addition to create Web Assets</div>
        </div>
        <img src="assets/workspacein.png" alt="">
      </div>
    </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- contact -->
<div id="contact">
  <div class="container" fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="start center">
    <div class="font-one">Contact</div>
    <div class="font-four">Feel free to reach out to me through the contact information provided below. Your ideas and
      feedback are invaluable,
      and I'm excited to explore the possibilities together. Don't hesitate to drop a message or connect through social
      media.
      Let's create exceptional user experiences that bring digital visions to life.</div>
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
      <img src="assets/instagram.png" alt="instagram">
      <img src="assets/linkedin.png" alt="linkedin">
      <a href="https://www.facebook.com/jerin.james.35912/about" target="_blank"><img src="assets/facebook.png" alt="facebook"></a>
      <img src="assets/gmail.png" alt="gmail">
    </div>
   
  </div>
</div>