<div class="toolbar">
  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div><img src="assets/Logo.png" alt="Logo"></div>
      <div fxLayout="row" fxLayoutGap="40px">
        <div class="toolbar-font font-one cursor-pointer">Career</div>
        <div class="toolbar-font font-one cursor-pointer">About</div>
        <div class="toolbar-font font-one cursor-pointer">Contact</div>
      </div>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
    <div fxLayout="column" fxLayoutGap="30px">
      <div class="font-two name">JESWIN YESUDAS</div>
      <div class="font-three designation pb-5">Website and User Interface Designer</div>
      <div class="font-four description">Over the past 1 year I have worked in Workspacein.com as a UI Designer/Developer where I had successfully
        helped my company with my skills to reach our clients to start their superb journey</div>
    </div>
    <div class="position-relative">
      <div class="w-100 h-100 position-absolute white-overlay"></div>
      <img src="assets/full-pic.png"  alt="full_pic" style="height: 588px; filter: grayscale(100%);">
    </div>
  </div>

</div>
