@import './app.component.css';

#header {
    width: 100%;
    height: 99.9vh;
    // background-color: black;
    background-image: url('../../src/assets/header_bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px 0 0 0;

    @media only screen and (max-width: 1023px) {
        padding: 0;
        height: fit-content;
        background: black;
    }


    .jes-logo {
        height: 55px;
    }

    .menu-icon {
        mat-icon {
            color: #ffffff;
            font-size: 37px;
            margin: 0;
            height: auto;
            width: auto;
        }

    }
}
.header-body {
    width: 69%;

    .font-two {
        color: #BABABA;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 17px;
            margin-bottom: 13px;
        }
    }

    .font-three {
        color: white;
        font-size: 91px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 41px;
        }
    }

    .font-four {
        color: #959595;
        font-family: Poppins;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        margin-top: 55px;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            margin-top: 33px;
        }
    }

    @media only screen and (max-width: 1023px) {
        width: 100%;
        padding-top: 69px;
        padding-bottom: 69px;
    }
}
.move-up {
    background: #ffbb5a;
    padding: 17px;
    border-radius: 50%;
    position: fixed;
    bottom: 27px;
    right: 26px;

    mat-icon {
        color: white;
        font-size: 27px;
        font-weight: 900;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}
// about
#about {
    background: black;
    padding: 81px 0;

    .font-one {
        color: white;
        font-size: 105px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 37px;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 70px;
            margin-bottom: 10px;
        }
    }

    .font-two {
        color: #ffbb5a;
        font-size: 29px;
        font-style: normal;
        font-weight: 300;
        line-height: 49px;
        margin-bottom: 24px;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 25px;
        }
    }

    .font-four {
        color: #959595;
        font-size: 27px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 23px;
            line-height: 40px;
        }
    }

    @media only screen and (max-width: 1023px) {
        img {
            width: 100%;
        }
    }

    @media only screen and (max-width: 1023px) {
        margin-top: -1px;
        padding-top: 12px;
    }
}
#career {
    background: black;
    padding: 81px 0;

    .font-one {
        color: white;
        font-size: 105px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 70px;
            margin-bottom: 10px;
            margin-right: 0;
        }
    }

    .font-four {
        color: #959595;
        font-size: 27px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 23px;
            line-height: 40px;
        }
    }

    .career-panel {
        background: black;
        color: white;
        border: 1px solid #f8b464;
        border-radius: 10px;
    }

    .panel-head {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: 200;
        letter-spacing: 0.3pt;
        line-height: normal;

        @media only screen and (max-width: 1023px) {
            font-size: 15px;
        }
    }

    .panel-sub {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.5pt;
        line-height: normal;
    }

    .panel-desc {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.5pt;
        line-height: normal;
    }

    .company-logo {
        border-radius: 50%;

        @media only screen and (max-width: 1023px) {
            width: 31%;
            margin-bottom: 16px;
        }
    }

    mat-accordion {
        width: 100%;

        @media only screen and (max-width: 1023px) {
            width: 99%;
            margin: auto;
        }
    }

    @media only screen and (max-width: 1023px) {
        margin-top: -1px;
        padding-top: 12px;
    }
}
#contact {
    background: black;
    padding: 81px 0;

    .font-one {
        color: white;
        font-size: 105px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 70px;
            margin-bottom: 10px;
        }
    }

    .font-four {
        color: #959595;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;

        @media only screen and (max-width: 1023px) {
            text-align: center;
            font-size: 23px;
            line-height: 40px;
        }
    }

    img {
        width: 65px;
        filter: grayscale(1);
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
            filter: none;
        }
    }

    @media only screen and (max-width: 1023px) {
        margin-top: -1px;
        padding-top: 12px;
    }
}
.mail-id {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 3.3pt;
    line-height: normal;

    span {
        font-weight: 400;
        letter-spacing: 1.5pt;
    }

}