// .full-pic {
//     height: 588px; 
//     filter: grayscale(100%);
//     margin-bottom: -5px;
//     transition: 1s ease-in-out;
//     &:hover {
//         filter: none !important;
//     }
//   }

a {
    text-decoration: none;
    color: white;
}


#header {
    width: 100%;
    height: 99.9vh;
    // background-color: black;
    background-image: url('../../src/assets/header_bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10px 0 0 0;
}

.header-body {
    width: 69%;
    .font-two {
        color: #BABABA;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }
    .font-three {
        color: white;
        font-size: 91px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .font-four {
        color: #959595;
        font-family: Poppins;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        margin-top: 55px;
    }
}

.move-up {
    background: #ffbb5a;
    padding: 17px;
    border-radius: 50%;
    position: fixed;
    bottom: 27px;
    right: 26px;
    mat-icon {
        color: white;
        font-size: 27px;
        font-weight: 900;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}




// about
#about {
    background: black;
    padding: 81px 0;
        .font-one {
                color: white;
                font-size: 105px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 37px;
            }
        
            .font-two {
                color: #ffbb5a;
                font-size: 29px;
                font-style: normal;
                font-weight: 300;
                line-height: 49px;
                margin-bottom: 24px;
            }
        
            .font-four {
                color: #959595;
                font-size: 27px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
            }
}

#career {
    background: black;
    padding: 81px 0;
    .font-one {
        color: white;
        font-size: 105px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .font-four {
        color: #959595;
        font-size: 27px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

#contact {
    background: black;
    padding: 81px 0;

    .font-one {
        color: white;
        font-size: 105px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .font-four {
        color: #959595;
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-align: center;
    }
    img {
        width: 65px;
        filter: grayscale(1);
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
            filter: none;
        }
    }
}